:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}

html{
    font-family: 'League Spartan', sans-serif;
    font-size: 67.5%;
}

body{
    height: 100vh;
}

.hearder-top{
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.container-hearder{
    padding: 4em 2em;
    /* display: flex; */
    align-items: center;
    display: none;
}

.box-logo-icon{
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav{
    background-color: var(--White);
    display: flex;
    padding: 3em 1em 3em 2em;
    gap: 4em;
    align-items: center;
    transition: all .3s ease-in-out;
}

.close-icon, .hamburguer-icon{
    cursor: pointer;
}

.ul-container{
    display: flex;
    padding: 0;
    list-style: none;
    gap: 1.6em;
    font-size: 1.6rem;
}

.li-nav a{
    text-decoration: none;
    color: var(--Black);
    font-weight: 700;
}

.li-nav a:hover{
    color: var(--Very-Dark-Gray);
}

.main{
    position: relative;
}

.slyde-container{
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.slyde-action{
    display: flex;
    transition: all 1s;
}

.slyde-container.off-js{
    overflow: auto;
}

.slyde-container_img{
    height: 33em;
    background-repeat: no-repeat;
}

.img1{
    background-image: url(../room-homepage-master/images/mobile-image-hero-1.jpg);
}

.img2{
    background-image: url(../room-homepage-master/images/mobile-image-hero-2.jpg);
}

.img3{
    background-image: url(../room-homepage-master/images/mobile-image-hero-3.jpg);
}

.slyde-container_text{
    padding: 2.2em 2em;
    width: 30em;
    max-width: 30em;
    white-space: initial;
}

.slyde_title{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: initial;
    margin-bottom: 0;
}

.slyde_text{
    font-size: 1.6rem;
    color: var(--Dark-Gray);
    line-height: 1.4em;
}

.slyde_shop-link{
    display: inline-block;
    text-decoration: none;
    color: var(--Black);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .8em;
    margin-top: 1.8em;
}

.slyde_shop-arrow{
    margin-left: 2em
}

.slyde_shop-link:hover{
    color: var(--Dark-Gray);
}

.btns-actionSlyde-container{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 37.71em;
    cursor: pointer;
}

.previous-btn, .next-btn{
    background-color: var(--Black);
    padding: 1.4em 1.8em;
}

.previous-btn:hover, .next-btn:hover{
    background-color: var(--Very-Dark-Gray);
}

.footer{
    margin-top: 8em;
}

.footer-boxText{
    padding: 4em 2em;
}

.footer_title{
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.footer_text{
    font-size: 1.6rem;
    color: var(--Dark-Gray);
    line-height: 1.4em;
}

.img-darkFurniture{
    height: 24em;
    background-image: url(../room-homepage-master/images/image-about-dark.jpg);
    background-repeat: no-repeat;
}

.img-lightFurniture{
    height: 24em;
    background-image: url(../room-homepage-master/images/image-about-light.jpg);
    background-repeat: no-repeat;
}

@media screen and (min-width: 81.25em){
    .hearder-top{
        display: flex;
        padding: 1em 6em;
        width: initial;
    }

    .container-hearder{
        display: flex;
    }
    
    .nav{
        background-color: transparent;
    }

    .box-hamburguer-icon, .close-icon{
        display: none;
    }

    .box-logo-icon{
        display: block;
    }

    .li-nav a{
        color: var(--White);
        padding: .6em 0em;
    }

    .li-nav a:hover{
        color: var(--White);
        border-bottom: 2px solid var(--White);
    }

    .img1{
        background-image: url(../room-homepage-master/images/desktop-image-hero-1.jpg);
    }
    
    .img2{
        background-image: url(../room-homepage-master/images/desktop-image-hero-2.jpg);
    }
    
    .img3{
        background-image: url(../room-homepage-master/images/desktop-image-hero-3.jpg);
    }

    .slyde-show{
        display: flex;
    }

    .slyde-container_img{
        width: 77.8em;
        height: 49.5em;
    }

    .slyde-container_text{
        padding: 6em 8.6em;
        position: relative;
    }

    .footer{
        display: flex;
        margin-top: 0;
        flex: 1;
    }

    .footer-boxText{
        width: 51.5em;
        height: 16em;
    }

    .img-darkFurniture{
        width: 38.9em;
    }

    .img-lightFurniture{
        width: 46em;
    }

    .btns-actionSlyde-container{
        bottom: 0;
        left: 77.8em;
    }
}